/SenchaDotNET/SenchaDotNET/ext
SenchaDotNET/.vs/
SenchaDotNET/SenchaDotNET/build/
SenchaDotNET/packages/
SenchaDotNET/SenchaDotNET/bin/
SenchaDotNET/SenchaDotNET/obj/
SubversionPreCommitHook/PreCommitHook/bin/
SubversionPreCommitHook/PreCommitHook/obj/
