<div class="jumbotron">
    <h1>The best calculator in the world</h1>
    <p class="lead">Add Substract Multiply Divide to your hearts content</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Try it now on swagger&raquo;</a></p>
</div>

