@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4900 Hopyard Rd, Suite# 100<br />
    Pleasanton, CA 94588<br />
    <abbr title="Phone">P:555-555-5555</abbr>
</address>

