@{
    //ViewBag.Title = "CI Demo";
}

<div class="jumbotron">
    <h1>Hola Ananth!!!</h1>
    <p class="lead">World is more beautiful with Continuous Integration, Testing, Deployment.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Subversion</h2>
        <p>
            Source control hosted on premise using subversion
        </p>
        <p><a class="btn btn-default" href="https://subversion.apache.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jenkins</h2>
        <p>With Jenkins on Windows .NET build processes are handled via msbuild integration. Nuget package restores are supported as well.</p>
        <p><a class="btn btn-default" href="https://jenkins.io/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure</h2>
        <p>Continuous delivery to Deployment slots on Azure.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Jira</h2>
        <p>This demo is using JIRA running within a docker container. </p>
        <p><a class="btn btn-default" href="https://www.atlassian.com/software/jira">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Docker</h2>
        <p>Rethink environment setup and management!!</p>
        <p><a class="btn btn-default" href="https://www.docker.com">Learn more &raquo;</a></p>
    </div>
</div>